<tru-label label="{{label}}" field="field">
    <div>
        <std-textbox-edit label="Address 1" field="field.children.address1"></std-textbox-edit>
    </div>
    <div style="margin-top:5px">
        <std-textbox-edit label="Address 2" field="field.children.address2"></std-textbox-edit>
    </div>
    <div style="margin-top:5px;width:100%;">
        <div style="float:left;width: calc(100% - 375px);height:25px;">
            <std-textbox-edit label="City" field="field.children.city"></std-textbox-edit>
        </div>
        <div style="float:left;width:200px">
            <std-textbox-edit label="State/Province" field="field.children.stateProvince"></std-textbox-edit>
        </div>
        <div style="float:left;width:175px">
            <std-textbox-edit label="Postal Code" field="field.children.postalCode"></std-textbox-edit>
        </div>
    </div>
    <div style="margin-top:5px">
        <std-textbox-edit label="Country" field="field.children.country"></std-textbox-edit>
    </div>
</tru-label>