<div class="ttl-password-edit-wrapper">
    <div
        std-modals
        ng-show="subview"
        class="ttl-modals"
        ng-switch="subview">
        <div data-ng-controller="stdPasswordModalController"
            data-ng-switch-when="password"
            data-tru-label-container
            data-std-trap-focus
            class="ttl-modal" style="height:125px;min-height:0;">
            <div style="position:absolute;top:0;left:0;right:0;height:30px;">
                <h4 style="margin-left: 5px;margin-top: 5px;float:left;">
                    {{setOrChange}} Password
                </h4>
                <button type="button" style="float:right;font-size:12px;padding:0;margin-right: 5px;margin-top: 5px;" class="desktop-btn desktop-btn-default desktop-window-close-button excluded" data-ng-class="{'desktop-window-close-button': window.active}" title="Close Dialog - [ESC]" data-ng-click="cancel($event)" tabindex="-1">
                    <span class="desktop-icon-close"></span>
                </button>
            </div>
            <div style="position:absolute;top:30px;left:0;right:0;bottom:35px;height:auto;">
                <div>
                    <div>
                        <tru-label label="Password">
                            <input type="password"
                                   data-ng-model="data.password"
                                   data-ng-change="onPasswordChange()"
                                   data-ng-mouseenter="onPasswordMouseEnter()"
                                   data-ng-mouseleave="onPasswordMouseLeave()"
                                   data-ng-keydown="onPasswordKeyDown($event)"
                                   data-ng-class="{'ttl-invalid-input': errorMessage ? true : false}"
                                   data-ng-focus="passwordIsFocused = true"
                                   data-ng-blur="passwordIsFocused = false"
                                    />
                        <span class="ttl-invalid-indicator" data-ng-show="field.context.isEditing && errorMessage && mouseOverPassword && passwordIsFocused">
                            <i class="icon-warning-sign icon-white"></i>{{errorMessage}}
                        </span>
                        </tru-label>
                    </div>
                    <div style="margin-top: 5px;">
                        <tru-label label="Confirm Password">
                            <input type="password"
                                   data-ng-model="data.confirmPassword"
                                   data-ng-change="onConfirmPasswordChange()"
                                   data-ng-mouseenter="onConfirmPasswordMouseEnter()"
                                   data-ng-mouseleave="onConfirmPasswordMouseLeave()"
                                   data-ng-class="{'ttl-invalid-input': confirmErrorMessage ? true : false}"
                                   data-ng-focus="confirmPasswordIsFocused = true"
                                   data-ng-blur="confirmPasswordIsFocused = false"
                                    />
                        <span class="ttl-invalid-indicator" data-ng-show="field.context.isEditing && confirmErrorMessage && mouseOverConfirmPassword && confirmPasswordIsFocused">
                            <i class="icon-warning-sign icon-white"></i>{{confirmErrorMessage}}
                        </span>
                        </tru-label>
                    </div>
                </div>
            </div>
            <div style="position:absolute;left:0;right:0;bottom:0;height:35px;">
                <div style="float:right;margin-right: 5px;">
                    <button data-ng-click="onOkClick()"
                            data-ng-keydown="onOkKeyDown($event)"
                            data-ng-class="{'tvl-btn-primary': formIsValid}"
                            data-ng-disabled="!formIsValid"
                            class="tvl-btn">Set
                    </button>
                    <button data-ng-click="onClearClick()"
                            data-ng-if="field.type.isNullable"
                            class="tvl-btn">Set No Value
                    </button>
                    <button data-ng-click="onCancelClick()"
                            data-ng-keydown="onCancelKeyDown($event)"
                            class="tvl-btn"
                            >Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <tru-label label="{{label}}">
        <button data-ng-click="onPasswordButtonClick()"
                data-ng-keydown="onPasswordButtonKeyDown($event)"
                data-ng-disabled="!field.context.isEditing || !field.type.canEdit"
                data-ng-class="{'ttl-invalid-button': field.getValidationErrors().length > 0}"
                data-ng-mouseenter="onMouseEnterPasswordButton()"
                data-ng-mouseleave="onMouseLeavePasswordButton()"
                class="tvl-btn"
                >{{setOrChange}} Password...
        </button>
        <span class="ttl-invalid-indicator" data-ng-show="field.context.isEditing && field.getValidationErrors().length > 0 && mouseOverPasswordButton">
            <i class="icon-warning-sign icon-white"></i>Password is required.
        </span>
    </tru-label>
</div>