<div class="ttl-password-edit-wrapper">
    <div
        std-modals
        ng-show="subview"
        class="ttl-modals"
        ng-switch="subview">
        <div data-ng-controller="stdPasswordModalController"
            data-ng-switch-when="password"
            data-tru-label-container
            class="ttl-modal">
            <h4 style="margin: 0 0;">
                {{setOrChange}} Password
            </h4>
            <p>
                <tru-label label="Password">
                    <input type="password"
                           data-ng-model="data.password"
                           data-ng-change="onPasswordChange()"
                           data-ng-mouseenter="onPasswordMouseEnter()"
                           data-ng-mouseleave="onPasswordMouseLeave()"
                           data-ng-keydown="onPasswordKeyDown($event)"
                           data-ng-class="{'ttl-invalid-input': errorMessage ? true : false}"
                           data-ng-focus="passwordIsFocused = true"
                           data-ng-blur="passwordIsFocused = false"
                    />
                    <span class="ttl-invalid-indicator" data-ng-show="field.editor.isEditing && errorMessage && mouseOverPassword && passwordIsFocused">
                        <i class="icon-warning-sign icon-white"></i>{{errorMessage}}
                    </span>
                </tru-label>
            </p>
            <p>
                <tru-label label="Confirm Password">
                    <input type="password"
                           data-ng-model="data.confirmPassword"
                           data-ng-change="onConfirmPasswordChange()"
                           data-ng-mouseenter="onConfirmPasswordMouseEnter()"
                           data-ng-mouseleave="onConfirmPasswordMouseLeave()"
                           data-ng-class="{'ttl-invalid-input': confirmErrorMessage ? true : false}"
                           data-ng-focus="confirmPasswordIsFocused = true"
                           data-ng-blur="confirmPasswordIsFocused = false"
                    />
                    <span class="ttl-invalid-indicator" data-ng-show="field.editor.isEditing && confirmErrorMessage && mouseOverConfirmPassword && confirmPasswordIsFocused">
                        <i class="icon-warning-sign icon-white"></i>{{confirmErrorMessage}}
                    </span>
                </tru-label>
            </p>
            <p style="float:left;" data-ng-if="field.value.$ && field.type.isNullable">
                <button data-ng-click="onClearClick()"
                        class="tvl-btn">Clear
                </button>
            </p>
            <p style="float:right;">
                <button data-ng-click="onOkClick()"
                        data-ng-keydown="onOkKeyDown($event)"
                        data-ng-class="{'tvl-btn-primary': formIsValid}"
                        data-ng-disabled="!formIsValid"
                        class="tvl-btn">OK
                </button>
                <button data-ng-click="onCancelClick()"
                        data-ng-keydown="onCancelKeyDown($event)"
                        class="tvl-btn"
                        >Cancel
                </button>
            </p>
        </div>
    </div>
    <tru-label label="{{label}}">
        <button data-ng-click="onPasswordButtonClick()"
                data-ng-keydown="onPasswordButtonKeyDown($event)"
                data-ng-disabled="!field.editor.isEditing || !field.type.canEdit"
                data-ng-class="{'ttl-invalid-button': field.getValidationErrors().length > 0}"
                data-ng-mouseenter="onMouseEnterPasswordButton()"
                data-ng-mouseleave="onMouseLeavePasswordButton()"
                class="tvl-btn"
                >{{setOrChange}} Password...
        </button>
        <span class="ttl-invalid-indicator" data-ng-show="field.editor.isEditing && field.getValidationErrors().length > 0 && mouseOverPasswordButton">
            <i class="icon-warning-sign icon-white"></i>Password is required.
        </span>
    </tru-label>
</div>