<div class="ttl-record-picker-outer-wrapper">
    <div
            std-modals
            ng-show="subview"
            class="ttl-modals"
            ng-switch="subview">
        <div data-ng-controller="stdRecordPickerModalController"
             data-ng-switch-when="recordPicker"
             data-ng-style="{'height': modal.height, 'width': modal.width}"
             data-tru-label-container
             data-std-trap-focus
             class="ttl-modal">
            <div style="position:absolute;top:0;left:0;right:0;height:30px;">
                <h4 style="margin-left: 5px;margin-top: 5px;float:left;">
                    {{title}} Picker
                </h4>
                <button type="button" style="float:right;font-size:12px;padding:0;margin-right: 5px;margin-top: 5px;" class="desktop-btn desktop-btn-default desktop-window-close-button excluded" data-ng-class="{'desktop-window-close-button': window.active}" title="Close Dialog - [ESC]" data-ng-click="cancel($event)" tabindex="-1">
                    <span class="desktop-icon-close"></span>
                </button>
            </div>
            <div style="position:absolute;top:30px;left:0;right:0;bottom:35px">
                <div std-picker-view style="position:absolute;top:0;left:0;right:0;bottom:0;"></div>
            </div>
            <div style="position:absolute;left:0;right:0;bottom:0;height:35px;">
                <div style="float:right;margin-right:5px;margin-top: 5px;">
                    <button data-ng-click="submit()"
                            data-ng-keydown="submitByEnter($event)"
                            data-ng-disabled="!selectedId || childSearchIsFocused"
                            data-ng-class="{'tvl-btn-primary': selectedId && !childSearchIsFocused}"
                            type="button"
                            class="tvl-btn">Set
                    </button>
                    <button data-ng-click="clear()"
                            data-ng-if="field.type.isNullable"
                            data-ng-keydown="onClearKeydown($event)"
                            type="button"
                            title="Sets the value to null in the database"
                            class="tvl-btn">Set No Value
                    </button>
                    <button data-ng-click="cancel($event)"
                            type="button"
                            class="tvl-btn"
                            >Cancel
                    </button>
                </div>
            </div>
            <span class="ttl-modal-resizable-handle ttl-modal-resizable-n" data-std-resizable data-modal="modal" data-direction="n"></span>
            <span class="ttl-modal-resizable-handle ttl-modal-resizable-s" data-std-resizable data-modal="modal" data-direction="s"></span>
            <span class="ttl-modal-resizable-handle ttl-modal-resizable-e" data-std-resizable data-modal="modal" data-direction="e"></span>
            <span class="ttl-modal-resizable-handle ttl-modal-resizable-w" data-std-resizable data-modal="modal" data-direction="w"></span>
            <span class="ttl-modal-resizable-handle ttl-modal-resizable-ne" data-std-resizable data-modal="modal" data-direction="ne"></span>
            <span class="ttl-modal-resizable-handle ttl-modal-resizable-nw" data-std-resizable data-modal="modal" data-direction="nw"></span>
            <span class="ttl-modal-resizable-handle ttl-modal-resizable-se" data-std-resizable data-modal="modal" data-direction="se"></span>
            <span class="ttl-modal-resizable-handle ttl-modal-resizable-sw" data-std-resizable data-modal="modal" data-direction="sw"></span>
        </div>
    </div>
    <tru-label field="field" label="{{label}}">
        <div class="ttl-record-picker-wrapper" data-ng-if="!field.context.isGrid">
            <div data-ng-mousedown="onInputMousedown()" style="float:left;width: calc(100% - 25px);background-color:#fff;">
                <div class="ttl-record-picker-display-value">
                    <a data-ng-click="field.goTo()" href="#">{{data.displayValue}}</a>
                </div>
            </div>
            <button data-ng-click="onClick()"
                    data-ng-keydown="onKeydown($event)"
                    data-ng-disabled="!field.context.isEditing || !field.type.canEdit || open"
                    class="tvl-btn"
                    style="float:left;height:20px;width:25px;padding:0;position:relative;"
                    >...
                <i style="color:green;margin-left:5px;margin-top:3px;position:absolute;z-index:5;top:0;left:-20px;" class="ttl-date-button-icon icon-arrow-right animated shake" data-ng-show="showArrow"></i>
            </button>
        </div>
    </tru-label>
</div>