<tru-label label="{{label}}" field="field">
    <div>
        <std-textbox-edit label="Address 1" field="field.children.address1"></std-textbox-edit>
    </div>
    <div style="margin-top:5px">
        <std-textbox-edit label="Address 2" field="field.children.address2"></std-textbox-edit>
    </div>
    <div style="margin-top:5px">
        <std-dropdown-edit label="Country" field="field.children.country"></std-dropdown-edit>
    </div>
    <div style="margin-top:5px;width:100%;">
        <div style="float:left;width: calc(100% - 370px);">
            <std-textbox-edit label="City" field="field.children.city"></std-textbox-edit>
        </div>
        <div style="float:left;width:175px">
            <std-textbox-edit label="State/Province" field="field.children.stateProvince" ng-show="showStateProvinceText"></std-textbox-edit>
            <std-intl-state-edit label="State/Province" field="field.children" ng-show="!showStateProvinceText"></std-intl-state-edit>
        </div>
        <div style="float:left;width:195px">
            <std-textbox-edit label="Postal Code" field="field.children.postalCode"></std-textbox-edit>
        </div>
    </div>
</tru-label>