<tru-label label="{{label}}" field="field">
    <div>
        <std-textbox-query label="Address 1" field="field.children.address1"></std-textbox-query>
    </div>
    <div style="margin-top:5px">
        <std-textbox-query label="Address 2" field="field.children.address2"></std-textbox-query>
    </div>
    <div style="margin-top:5px">
        <std-dropdown-query label="Country" field="field.children.country"></std-dropdown-query>
    </div>
    <div style="margin-top:5px;width:100%;">
        <div style="float:left;width: calc(100% - 370px);">
            <std-textbox-query label="City" field="field.children.city"></std-textbox-query>
        </div>
        <div style="float:left;width:175px">
            <std-dropdown-query label="State/Province" field="field.children.stateProvince"></std-dropdown-query>
        </div>
        <div style="float:left;width:195px">
            <std-textbox-query label="Postal Code" field="field.children.postalCode"></std-textbox-query>
        </div>
    </div>
</tru-label>