/* ---------------------------------------------------------------------
Password-Edit Styles
------------------------------------------------------------------------ */

.ttl-password-edit-wrapper {
    display: table;
    width: 100%;
}

.ttl-password-edit-password-wrapper {
    display: table-cell;
}

.ttl-password-edit-password-wrapper-editing {
    padding-right: 4px;
}

.ttl-password-edit-password-wrapper-not-editing {
    width: 100%;
}

.ttl-password-edit-password-confirm-wrapper {
    display: table-cell;
}

.ttl-password-edit-password-confirm-wrapper-not-editing {
     padding-left: 0 !important;
 }

.ttl-password-edit:focus {
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
}