/* ---------------------------------------------------------------------
std-common - styles
------------------------------------------------------------------------ */

.ttl-no-label-width {
    padding-left: 5px;
    width: auto !important;
}

.ttl-invalid-indicator {
    position: absolute;
    left: 0;
    top: 20px;
    -moz-min-width: 200px;
    -ms-min-width: 200px;
    -o-min-width: 200px;
    -webkit-min-width: 200px;
    min-width: 200px;
    min-height: 20px;
    max-width: 450px;
    max-height: 40px;
    visibility: visible;
    display: inline-block;
    background-color: rgb(189, 54, 47);
    margin: 2px 0 0 0;
    padding: 4px 10px;
    -ms-border-radius: 3px 3px 3px 3px !important;
    border-radius: 3px 3px 3px 3px !important;
    background-position: 15px center;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 0 12px #999999;
    -ms-box-shadow: 0 0 12px #999999;
    box-shadow: 0 0 12px #999999;
    color: #ffffff;
    -ms-opacity: 0.9;
    opacity: 0.9;
    z-index: 1000;
}

.ttl-modal-resizable-nw {
    position: absolute !important;
    overflow: hidden;
    width: 10px;
    height: 10px;
    left: -5px;
    top: -5px;
    z-index: 103;
    cursor: nw-resize;
    opacity: 0;
}

.ttl-modal-resizable-ne {
    position: absolute !important;
    overflow: hidden;
    width: 10px;
    height: 10px;
    right: -5px;
    top: -5px;
    z-index: 103;
    cursor: ne-resize;
    opacity: 0;
}

.ttl-modal-resizable-sw {
    position: absolute !important;
    overflow: hidden;
    width: 10px;
    height: 10px;
    left: -5px;
    bottom: -5px;
    z-index: 103;
    cursor: sw-resize;
    opacity: 0;
}

.ttl-modal-resizable-se {
    position: absolute !important;
    overflow: hidden;
    width: 10px;
    height: 10px;
    right: -5px;
    bottom: -5px;
    z-index: 103;
    cursor: se-resize;
    opacity: 0;
}

.ttl-modal-resizable-n {
    position: absolute !important;
    top: 0;
    left: 10px;
    right: 10px;
    overflow: hidden;
    height: 5px;
    z-index: 102;
    cursor: s-resize;
    opacity: 0;
    margin-top: -5px;
}

.ttl-modal-resizable-s {
    position: absolute !important;
    left: 10px;
    right: 10px;
    bottom: 0;
    overflow: hidden;
    height: 5px;
    z-index: 102;
    cursor: s-resize;
    opacity: 0;
    margin-bottom: -5px;
}

.ttl-modal-resizable-w {
    position: absolute !important;
    top: 10px;
    left: 0;
    bottom: 10px;
    overflow: hidden;
    width: 5px;
    z-index: 102;
    cursor: w-resize;
    opacity: 0;
    margin-left: -5px;
}

.ttl-modal-resizable-e {
    position: absolute !important;
    top: 10px;
    right: 0;
    bottom: 10px;
    overflow: hidden;
    width: 5px;
    z-index: 102;
    cursor: e-resize;
    opacity: 0;
    margin-right: -5px;
}

div.ttl-modal-resizable-handle {
    display: none !important;
    visibility: hidden !important;
}

input[type="password"].ttl-invalid-input  {
    border: 1px solid red !important;
}

input[type="password"]:focus .ttl-invalid-input  {
    border: 1px solid red !important;
}

button.ttl-invalid-button  {
    border: 1px solid red;
}

button:active .ttl-invalid-button  {
    border: 1px solid red !important;
}

button:focus .ttl-invalid-button  {
    border: 1px solid red !important;
}

.ttl-operator-icon-wrapper {
    float: left;
}

.ttl-operator-icon {
    color: #cbcbcb;
    font-size: 16px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    outline: none;
}

.ttl-operator-icon-has-value > i {
    color: #000000 !important;
}

.ng-invalid-invalid-date  {
    border: 1px solid red !important;
}

.an-option {
    color: #555555;
    font-style: normal;
}

.not-an-option {
    color: #cbcbcb;
    font-style: italic;
}

/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}